<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg_1 overlay">
        <h3>about us</h3>
    </div>
    <!-- bradcam_area_end -->
    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumb2">
                        <div class="img_1">
                            <img src="/img/about/1.png" alt="">
                        </div>
                        <div class="img_2">
                            <img src="/img/about/2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>
                                Best Burger <br>
                                in your City
                            </h3>
                        </div>
                        <p>Welcome to our burger heaven! At BarCode Burger, we're passionate about crafting the most delectable and mouthwatering burgers that will take your taste buds on an unforgettable journey. Our commitment to quality is evident in every bite – from the sizzling beef patties to the crispy chicken creations and the hearty vegan options. With a perfect blend of flavors, fresh ingredients, and creative combinations, we're here to redefine your burger experience. Whether you're a carnivore, a chicken enthusiast, a veggie lover, or a devoted vegan, we have a burger that's tailor-made for your palate. Join us and savor the artistry behind each burger – a fusion of culinary innovation and love for good food. Your burger adventure starts here!</p>
                        <div class="img_thumb">
                            <img src="/img/barcode-signature.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
    <!-- gallery_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-70 text-center">
                        <span>Gallery Image</span>
                        <h3>Our Gallery</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="~/img/gallery/1.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/1.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="~/img/gallery/2.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/2.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="~/img/gallery/3.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/3.png" alt="">
        </div>

        <div class="single_gallery small_img">
            <a class="popup-image" href="~/img/gallery/4.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/4.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="~/img/gallery/5.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/5.png" alt="">
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="~/img/gallery/6.png">
                <i class="ti-plus"></i>
            </a>
            <img src="/img/gallery/6.png" alt="">
        </div>
    </div>
</body>