@model IEnumerable<MVC_Burger_Project.Models.Entities.Category>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="text-center text-black"><b class="text-black">Categories</b></h1>
<div class="row align-items-center mt-5">
    <div class="container col-xl-10">
        <p>
            <a class="btn btn-warning" asp-action="Create"><b class="text-white">Add New Category</b></a>
        </p>
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-success"><i class="fa-solid fa-pen-to-square text-white text-center"></i></a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger"><i class="fa-solid fa-trash text-white text-center"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>